<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.discord_clone_api.repository.UserMapper">

    <!-- 회원가입 -->
    <insert id="insertUser">
        INSERT INTO User
            (id, username, email, password, address, phone)
        VALUES
            (#{id}, #{username}, #{email}, #{password}, #{address}, #{phone})
    </insert>


    <!-- 회원 정보 가져오기 -->
    <select id="getUserByEmail" resultType="com.example.discord_clone_api.vo.UserVo">
        SELECT *
        FROM User
        WHERE email = #{email}
    </select>

</mapper>